<ion-view view-title="Workers">
    <ion-content class="padding" style="margin-top: -60px">
        <div class="card "  ng-class="">
            <div id="profile-bg">
            </div>
            <div id="content">
                <div id="profile-info">
                    <img id="profile-image" src="http://api.file-dog.shatkonlabs.com/files/rahul/55">
                    <h3 id="profile-name">vikas </h3>

                    <span id="profile-description">
                         5/5<span class="ion-star large"></span>, AGE: 65
                    </span>

                    <h4><span class="ion-android-people large"></span> Male </h4>
                    <h4><span class="ion-android-home large"></span> bihar </h4>
                    
                </div>
            </div>

        </div>
        <!-- <div class="card " ng-repeat="worker in workers" ng-class="">
            <div id="profile-bg">
            </div>
            <div id="content">
                <div id="profile-info">
                    <img id="profile-image" src="http://api.file-dog.shatkonlabs.com/files/rahul/{{worker.photo}}">
                    <h3 id="profile-name">{{worker.name}} <i class="icon ion-checkmark-circled balanced"></i></h3>

                    <span id="profile-description">
                        <a class="icon-left ion-ios7-telephone" ng-href="tel: +91 {{worker.mobile}}">
                            <span class="ion-android-call large"></span>
                            +91 {{worker.mobile}}
                        </a> , {{worker.rating}}/5<span class="ion-star large"></span>, AGE: {{ calculateAge(worker.dob) }}
                    </span>

                    <h4><span class="ion-android-home large"></span> {{worker.address}}, {{worker.area}} </h4>
                    <h5> Emergency <a class="icon-left ion-ios7-telephone" ng-href="tel: +91 {{worker.emergency_no}}">
                        <span class="ion-android-call large"></span>
                        +91 {{worker.emergency_no}}
                    </a>
                    </h5>
                </div>
            </div>

        </div> -->

    </ion-content>
</ion-view>